@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: "Montserrat";
}

:root {
    --bg-color-primary: #1E1E28;
    --bg-color-secondary: #1A1A23;
    --bg-color-tertiary: #262633;

    --color-01: #D0549F;
    --color-02: #FF6363;
}

body {
    background: var(--bg-color-primary);
}

main {
    display: flex;
}

.side-content {
    background: #1A1A23;
    width: 30vh;
    height: 100vh;

    @media (max-width: 1500px) {
        display: none;
    }
}

.main-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}