<main>
    <section class="side-content">

    </section>
    
    <section class="main-content">
        <div class="header-container">
            <div class="logo-area">
                <img class="logo-icon" src="/assets/images/cineprivex-logo-02.png" alt="">
            </div>
    
            <div class="infos-area">
    
                <div class="action-button-container" style="background: #CCCCCC;">
                    Profile
                </div>
    
                <div class="action-button-container" style="background: #FF6363; margin-right: 50px;">
                    Logout
                </div>
    
                <div class="user-area">
                    <span class="user-name">DPull</span>
                    <img class="user-icon" src="/assets/images/bg-video.jpeg" alt="">
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="video-category-area">
                <div class="video-category-item-box">
                    <span class="video-category-name">Hot</span>
                    <div class="video-category-underline"></div>
                </div>
    
                <div class="video-category-item-box">
                    <span class="video-category-name">Recent</span>
                    <!-- <div class="video-category-underline"></div> -->
                </div>
    
                <div class="video-category-item-box">
                    <span class="video-category-name">Most viewed</span>
                    <!-- <div class="video-category-underline"></div> -->
                </div>
            </div>
    
            <div class="video-list-area">
                <div class="video-card-box">
                    <div class="video-card-author-area">
                        <img class="video-card-author-icon" src="/assets/images/user-icon.jpg" alt="">
                        <span class="video-card-author">Unknown</span>
                    </div>
                    <img class="video-card-thumbnail" src="/assets/images/bg-video.jpeg" alt="">
                    <div class="video-card-description-area">
                        <p class="video-card-description">
                            💢I was a good girl, here are my sweet
                        </p>
                    </div>
                </div>
    
                <!-- ====================================================== -->
    
                <div class="video-card-box">
                    <div class="video-card-author-area">
                        <img class="video-card-author-icon" src="/assets/images/user-icon.jpg" alt="">
                        <span class="video-card-author">Unknown</span>
                    </div>
                    <img class="video-card-thumbnail" src="/assets/images/bg-video.jpeg" alt="">
                    <div class="video-card-description-area">
                        <p class="video-card-description">
                            💢I was a good girl, here are my sweet
                        </p>
                    </div>
                </div>
    
                <!-- ====================================================== -->
    
                <div class="video-card-box">
                    <div class="video-card-author-area">
                        <img class="video-card-author-icon" src="/assets/images/user-icon.jpg" alt="">
                        <span class="video-card-author">Unknown</span>
                    </div>
                    <img class="video-card-thumbnail" src="/assets/images/bg-video.jpeg" alt="">
                    <div class="video-card-description-area">
                        <p class="video-card-description">
                            💢I was a good girl, here are my sweet
                        </p>
                    </div>
                </div>
    
                <!-- ====================================================== -->
    
                <div class="video-card-box">
                    <div class="video-card-author-area">
                        <img class="video-card-author-icon" src="/assets/images/user-icon.jpg" alt="">
                        <span class="video-card-author">Unknown</span>
                    </div>
                    <img class="video-card-thumbnail" src="/assets/images/bg-video.jpeg" alt="">
                    <div class="video-card-description-area">
                        <p class="video-card-description">
                            💢I was a good girl, here are my sweet
                        </p>
                    </div>
                </div>
    
                <!-- ====================================================== -->
    
                <div class="video-card-box">
                    <div class="video-card-author-area">
                        <img class="video-card-author-icon" src="/assets/images/user-icon.jpg" alt="">
                        <span class="video-card-author">Unknown</span>
                    </div>
                    <img class="video-card-thumbnail" src="/assets/images/bg-video.jpeg" alt="">
                    <div class="video-card-description-area">
                        <p class="video-card-description">
                            💢I was a good girl, here are my sweet
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</main>